div{
    border: 2px solid black;
    margin: 1em;
    padding: 1em;
}
.col1{
    float: right;
    width: 15%;
}
.col2{
    float: left;
    width: 15%;
    text-align: center;
}
.col2 a{
    display: block;
    font-size: 2em;
}
#container{
    overflow: hidden;
    position: relative;
}
#ad{
    position: absolute;
    margin: 0px;
    left: 350px;
    top: 50px;

    background-color: black;
}
#ad a{
    color: white;
    font-size: 1.5em;
}